html {
  position: relative;
  min-height: 100%;
}
body {
  
}
.jumbotron{
    background-color: black;
}
.messages{
    position: absolute;
    margin-top: 67px;
    z-index: 10;
    width: 100%;
}
.footer{
    position: absolute;
    bottom: 0;
    width:100%;
    max-width: 200%;
}

.card {
    margin-bottom: 40px !important;
    background-color: #333333 !important; 
    color: white;
    font-family: sans-serif;
}

.card-img-top {
    width: 100%;
    height: 16vw;
    object-fit: cover;
    -moz-transition: -moz-transform 0.2s ease;
    -webkit-transition: -webkit-transform 0.2s ease;
    -ms-transition: -ms-transform 0.2s ease;
    transition: transform 0.2s ease;
}

.img1:hover .card-img-top {
 -moz-transform: scale(1.01);
 -webkit-transform: scale(1.01);
 -ms-transform: scale(1.01);
  transform: scale(1.01);
}

#table {
  width:100%;
}

.jumbotron.jumbotron-blue {
   background:black;
   color:white;
   padding: 70px 30px;
   margin: 50px 50px 50px 50px;
 }
 .jumbotron.jumbotron-white h1 {
   margin: 0;
 }
 .heading-paragraph {
   padding-top: 70px;
   margin: 0;
 }


 #title {
  color: white;
  font-family: sans-serif;
 }

 .details {
  color: blue;
 }

.added_by:hover {
  color:#666;
}
.added_by {
  color:#f1249d;
}
